*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

/* ========FORM=============== */
.form-banner img{
  height: 100%;
  width: 100%;
}

.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
/* ========LOdar=============== */
.loader-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: rgba(78, 57, 156, 0.3);
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #e28e8e;
  border-bottom-color: #978a4f;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* ======================
--------- navbar 
=================== */

.navbar {
  background-color: rgb(103, 31, 73) !important;
  color: white !important;
}
.nav-link,
.navbar-brand {
  background-color: rgb(20, 6, 92) !important;
  color: white !important;
}